.min-h-82 {
  min-height: 82px;
}
.min-w-245 {
  min-width: 245px;
}
.min-h-280 {
  min-height: 280px;
}
.min-h-360 {
  min-height: 360px;
}
.cursor-pointer {
  cursor: pointer;
}
.object-cover {
  object-fit: cover;
}
.z-index--1 {
  z-index: -1;
}
.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}
