// basic varisbles
$primary: #c4132f !default;
$secondary: #717171 !default;
$tertiary: #e5eaee !default;

// team-item breackpoints grid
$team-item-width-xl: 19.5vw;
$team-item-width-lg: 32.5vw;
$team-item-width-md: 48vw;
$team-item-width-sm: 47.3vw;
